@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@font-face {
  font-family: NexaBold;
  font-display: swap;
  src: url('../fonts/Nexa-Bold.otf') format('opentype');
}

@font-face {
  font-family: GothamMedium;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Gotham-Medium.ttf') format('truetype');
}

@font-face {
  font-family: MetropolisLight;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/Metropolis-Light.otf') format('opentype');
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 27px;

  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-text {
  background: linear-gradient(90deg, #d9ff00 0%, #24b176 60%, #24b18e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-bg {
  background: linear-gradient(90deg, #24b18e 0%, #24b176 60%, #d9ff00 100%);
}
